@import "tailwindcss";

@theme {
  --color-iko-500: #30651A;
}

@plugin "@tailwindcss/forms";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}